
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
  background-color: #FFF8F3;
}
.primary-color{
  color: #FD6E0A;
}
.dark-1{
  color: #1E1E1E;    
}
.dark-2{
  color: #474747;
}
.dark-3{
  color: #757575;
}

.btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
}

.section-title {
  font-size: 35px;
  font-weight: bold;

}
.section-description{
  font-size: 18px;
}
.text-center{
  text-align: center;
}

/* header style  */
.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left, bottom right;
  margin-left: 40px;
  padding-top: 200px, 0px;
  height: 840px;
  border: 1px solid rebeccapurple;
}

/* nav style  */
nav{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-items: center; */
    /* margin: 0px 200px; */
    margin-left: 150px;
}

.nav-title{
  font-weight: 800;
  font-size: 45px;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}

nav ul {
  display: flex;
  align-items: center;
}

/* banner styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 150px;
  /* border: 1px solid rebeccapurple; */
}
.banner-content{
  max-width: 580px;
}

.banner-gretting{
font-size: 45px;
}

.banner-title{
  font-weight: bold;
  font-size: 80px;

}
.banner-description{
  font-size: 18px;
}

.banner-pro-pic{
  width: 500px;
}

/* main styles */
main{
  max-width: 1140px;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 100px;
}

/* about section */
.about{
  border-radius: 5px;
  margin: 100px 0px 100px 0px;
  text-align: center;
  padding: 50px;
}

.about-items{
  display: flex;
  justify-content: space-around;
}
.itme-description{
  font-weight: bold;
  font-size: 20px;
  
}

/* what i do section */
.section-title{
  font-size: 35px;
  font-weight: bold;
}

.skills-container{
  display: flex;
  gap: 24px;

}

.skill{
  background-color: #FFFFFF;
  /* width: 270px; */
  box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.09) ;
  border-radius: 5px;
  padding: 30px;
}

/* resume section styles */
.resume-container{
  display: flex;
  gap: 24px;
}
.section-title{
  font-size: 38px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}
.resume-colum-title{
  font-size: 30px;
  font-weight: bold;
}
.experience-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 30px;
}
.experience-sub-title{
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}
.experience-description{
  font-size: 18px;
  margin-bottom: 30px;
}
.resume-download{
  margin-top: 32px;
}

/* footer style */
footer{
  background-color: #FFF8F3;
}
.footer-section{
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 130px;
}
.contact-info h3, .contact-message h3{
  font-size: 35px;
  font-weight: bold;
  margin-top: 130px;
}



.contact{
  display: flex;
  /* margin-top: 130px; */

}
.contact-description{
  max-width: 562px;
}
.icon{
  margin-left: 10px;
}

.contact-form input[type="text"],.contact-form input[type="email"], textarea{
  display: block;
  margin-bottom: 24px;
  padding: 18px 30px;
  /* color: #757575; */
  border: none;
  border-radius: 5px;
  width: 100%;
}